/*
 * @file
 * Provides the layout styles for two-column layout section.
 */
/* line 6, ids/modules/ids_layout/layouts/twocol/sass/twocol.scss */
.layout--twocol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 11, ids/modules/ids_layout/layouts/twocol/sass/twocol.scss */
.layout--twocol > .layout__region {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  /* line 16, ids/modules/ids_layout/layouts/twocol/sass/twocol.scss */
  .layout--twocol.layout--twocol--50-50 > .layout__region--first,
  .layout--twocol.layout--twocol--50-50 > .layout__region--second {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
  /* line 21, ids/modules/ids_layout/layouts/twocol/sass/twocol.scss */
  .layout--twocol.layout--twocol--33-67 > .layout__region--first,
  .layout--twocol.layout--twocol--67-33 > .layout__region--second {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
  }
  /* line 26, ids/modules/ids_layout/layouts/twocol/sass/twocol.scss */
  .layout--twocol.layout--twocol--33-67 > .layout__region--second,
  .layout--twocol.layout--twocol--67-33 > .layout__region--first {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 67%;
    flex: 0 1 67%;
  }
  /* line 31, ids/modules/ids_layout/layouts/twocol/sass/twocol.scss */
  .layout--twocol.layout--twocol--25-75 > .layout__region--first,
  .layout--twocol.layout--twocol--75-25 > .layout__region--second {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }
  /* line 36, ids/modules/ids_layout/layouts/twocol/sass/twocol.scss */
  .layout--twocol.layout--twocol--25-75 > .layout__region--second,
  .layout--twocol.layout--twocol--75-25 > .layout__region--first {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 75%;
    flex: 0 1 75%;
  }
}
